@charset "utf-8";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: .14rem;
}
html,body,.box{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
html{
	font-size: 625%;
}
i,em{
	font-style: normal;
}
b{
	font-weight: normal;
}

ul li ,ol li{list-style: none;}
.box{
    overflow: hidden;
    display:flex;
    flex-direction: column;
}
header{
    width:100%;
    height: .4rem;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 2%;
    span{
        color:#75D6CC;
    }
    div{
        display:flex;
        align-items: center;
        width:80%;
        height: 100%;
        position: relative;
        i{
            position: absolute;
            top:28%;
            left:10%;
        }
        input{
            width:100%;
            height: 90%;
            background: #ccc;
            border-radius: 15px;
            border:none;
            outline: none;
            padding-left: 20%;
        }
    }
    em{
        color: #75D6CC;
    }
}
section{
    width:100%;
    flex:1;
    flex-direction: column;
    overflow-y: scroll;
    .banner{
        width:100%;
        height: auto;
        .container{
            width:100%;
            height: 2.4rem;
            overflow: hidden;
            img{
                width:100%;
                height: 2.4rem;
            }
        }
    }
    .main{
        width:100%;
        height: auto;
        margin-top: .05rem;
        padding: 0 1%;
        display: flex;
        flex-direction: column;
        .trans{
            width:100%;
            height: auto;
            display:flex;
            .door{
                width:33%;
                height: .9rem;
                background: #F42E57;
                color:#fff;
                text-align: center;
                line-height: .5rem;
                font-size: 16px;
            }
            .hotel{
                width:62%;
                margin-left: 1%;
                display: flex;
                flex-wrap:wrap;
                .hotel-son{
                    width:50%;
                    height: .45rem;
                    background: #FD4866;
                    color:#fff;
                    text-align: center;
                    line-height: .45rem;
                }
                .son3{
                    margin-top: .01rem;
                    background: #FF7E65;
                }
                .son2{
                    margin-top: .01rem;
                    background: #F68A89;
                }
                .son1{
                    
                    background: #FEA25F;
                }
            }
        }
        .piao1{
            width:100%;
            display: flex;
            .piao-son{
                width:32%;
                height: .9rem;
                line-height: .8rem;
                color: #fff;
                background: #1CD2B7;
                text-align: center;
            }
        }
    }
}
